<a href="https://colab.research.google.com/github/Stevenojiambo04/steven-_otieno/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
temperatures=[10,20,15,30,14,16,25]
print(sum(temperatures))
print(len(temperatures))
average_temperature=(sum(temperatures)/len(temperatures))
print(average_temperature)

130
7
18.571428571428573

In [9]:

average_temperature=sum(temperatures)/len(temperatures)
print(average_temperature)

18.571428571428573

In [10]:
temperatures=[10,20,15,30,14,16,25]
average_temperature=sum(temperatures)/len(temperatures)
print(average_temperature)

18.571428571428573

In [12]:
print(max(temperatures))

30

In [13]:
print(min(temperatures))

10

In [16]:
cars=['a','b','c','d','e']
for car in cars:
    print(car)

a
b
c
d
e